<!DOCTYPE html>
<html>
<head><title>Admin Panel</title></head>
<body>
  <h1>Create New Post</h1>
  <form id="create-post-form">
    <input type="text" id="title" placeholder="Title"><br>
    <textarea id="content" placeholder="Content"></textarea><br>
    <button id="create-button">Create</button>
  </form>

    <div>
      <a href="/">Posts</a>
    </div>

  <script>
    document.getElementById('create-button').addEventListener('click', async (e) => {
      e.preventDefault();

      const data = {
        title: document.getElementById('title').value,
        content: document.getElementById('content').value,
      };

      const res = await fetch('/posts/create', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      form = document.getElementById('create-post-form')
      form.reset();
    });
  </script>
</body>
</html>
