<!doctype html>
<html>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<body>
    <div>
        <h2>{{$.Post.Title}}</h2>

        <div id="post-{{$.Post.ID}}"></div>
        <p>
            <script>
                document.getElementById("post-{{$.Post.ID}}").innerHTML =
                marked.parse({{$.Post.Content}});
            </script>
        </p>
    </div>

    <div>
        <a href="/?page={{$.CurrentPage}}">Back</a>
    </div>
</body>
</html>
